タスク一覧

<ul>
    
    <li>
        <% @tasks.each do |task|%>
        <div><%=link_to task.id, task%><%= task.content %>: <%= task.status %></div>
       
        <% end %>
    </li>
    
</ul>

<%= link_to '新規タスク', new_task_path %>